html {
    height: 100%;
}

html {
    height:100%;
}
 
body {
    margin:0;
}

.header1 {
    text-align: center;
}

.search-form {
    display: inline-block;
    margin-right: 20px; /* Adjust this value as needed */
}

 
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
 
.bg3 {
    animation-duration:5s;
}
 
.content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}



.country-box {
     border: 2px solid powderblue;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    margin: 20px;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 300px;
    height: 300px; /* Add a fixed height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds height */
}
    
.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
  }

.hide {
    display: none;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
 
    100% {
        transform:translateX(25%);
    }
}


h2 {
    font-size: 150%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

img {
    max-width: 100%;
    height: auto;
}


h3 {
    font-size: 500%;
}
